In [138]:
# import libraries
import os
import csv
import pandas as pd

In [139]:
# read in files
student_df = pd.read_csv("Resources/Student Mental health.csv")

In [140]:
# show column names
student_columns = student_df.columns
student_columns

Index(['Timestamp', 'Choose your gender', 'Age', 'What is your course?',
       'Your current year of Study', 'What is your CGPA?', 'Marital status',
       'Do you have Depression?', 'Do you have Anxiety?',
       'Do you have Panic attack?',
       'Did you seek any specialist for a treatment?'],
      dtype='object')

In [141]:
student_df.head()

,Timestamp,Choose your gender,Age,What is your course?,Your current year of Study,What is your CGPA?,Marital status,Do you have Depression?,Do you have Anxiety?,Do you have Panic attack?,Did you seek any specialist for a treatment?
0,8/7/20 12:02,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,8/7/20 12:04,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,8/7/20 12:05,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,8/7/20 12:06,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,8/7/20 12:13,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [142]:
# rename columns
student_df.columns = ['Timestamp', 'Gender', 'Age', 'Course',
       'Year', 'GPA', 'Marital status',
       'Depression', 'Anxiety',
       'Panic attack',
       'Specialist visit']

In [143]:
# delete timestamp column
del student_df['Timestamp']

In [144]:
student_df.head()

,Gender,Age,Course,Year,GPA,Marital status,Depression,Anxiety,Panic attack,Specialist visit
0,Female,18.0,Engineering,year 1,3.00 - 3.49,No,Yes,No,Yes,No
1,Male,21.0,Islamic education,year 2,3.00 - 3.49,No,No,Yes,No,No
2,Male,19.0,BIT,Year 1,3.00 - 3.49,No,Yes,Yes,Yes,No
3,Female,22.0,Laws,year 3,3.00 - 3.49,Yes,Yes,No,No,No
4,Male,23.0,Mathemathics,year 4,3.00 - 3.49,No,No,No,No,No

In [145]:
# count how many total students
total_students = len(student_df["Gender"])
total_students

101

In [146]:
# make sure every column has same count
student_df.count()

Gender              101
Age                 100
Course              101
Year                101
GPA                 101
Marital status      101
Depression          101
Anxiety             101
Panic attack        101
Specialist visit    101
dtype: int64

In [147]:
# see data types
student_df.dtypes

Gender               object
Age                 float64
Course               object
Year                 object
GPA                  object
Marital status       object
Depression           object
Anxiety              object
Panic attack         object
Specialist visit     object
dtype: object

In [148]:
# count male vs female
student_df["Gender"].value_counts()

Female    75
Male      26
Name: Gender, dtype: int64

In [149]:
# show different courses
student_df["Course"].value_counts()

BCS                        18
Engineering                17
BIT                        10
Biomedical science          4
KOE                         4
BENL                        2
Laws                        2
psychology                  2
Engine                      2
Islamic Education           1
Biotechnology               1
engin                       1
Econs                       1
MHSC                        1
Malcom                      1
Kop                         1
Human Sciences              1
Communication               1
Nursing                     1
Diploma Nursing             1
IT                          1
Pendidikan Islam            1
Radiography                 1
Fiqh fatwa                  1
DIPLOMA TESL                1
Koe                         1
Fiqh                        1
CTS                         1
koe                         1
Benl                        1
Kirkhs                      1
Mathemathics                1
Pendidikan islam            1
Human Resources             1
Irkhs                       1
Psychology                  1
KENMS                       1
Accounting                  1
ENM                         1
Marine science              1
Banking Studies             1
Business Administration     1
Law                         1
KIRKHS                      1
Usuluddin                   1
TAASL                       1
ALA                         1
Islamic education           1
Pendidikan Islam            1
Name: Course, dtype: int64

In [150]:
# Clean up Course column
student_df['Course'] = student_df['Course'].replace({'Koe': 'KOE','koe': 'KOE'})
student_df['Course'] = student_df['Course'].replace({'benl': 'BENL', 'Benl': 'BENL'})
student_df['Course'] = student_df['Course'].replace({'engin': 'Engineering','Engine': 'Engineering'})
student_df['Course'] = student_df['Course'].replace({'KIRKHS': 'Kirkhs'})
student_df['Course'] = student_df['Course'].replace({'Islamic education': 'Islamic Education'})
student_df['Course'] = student_df['Course'].replace({'Laws': 'Law'})
student_df['Course'] = student_df['Course'].replace({'Pendidikan islam': 'Pendidikan Islam', 'Pendidikan Islam ': 'Pendidikan Islam'})
student_df['Course'] = student_df['Course'].replace({'Diploma Nursing': 'Nursing', 'Nursing ': 'Nursing'})
student_df['Course'] = student_df['Course'].replace({'Fiqh' : 'Fiqh Fatwa ', 'Fiqh Fatwa': 'Fiqh Fatwa'})
student_df['Course'] = student_df['Course'].replace({'Econs' : 'Econ'})
student_df['Course'] = student_df['Course'].replace({'Irkhs' : 'Kirkhs'})
student_df['Course'] = student_df['Course'].replace({'ENM' : 'KENMS'})
student_df['Course'] = student_df['Course'].replace({'psychology' : 'Psychology'})

In [151]:
student_df["Course"].value_counts()

Engineering                20
BCS                        18
BIT                        10
KOE                         6
Biomedical science          4
Law                         3
Pendidikan Islam            3
BENL                        3
Kirkhs                      3
Psychology                  3
KENMS                       2
Nursing                     2
Islamic Education           2
Human Sciences              1
Malcom                      1
Kop                         1
Radiography                 1
Biotechnology               1
Communication               1
Econ                        1
Fiqh fatwa                  1
DIPLOMA TESL                1
MHSC                        1
TAASL                       1
CTS                         1
IT                          1
ALA                         1
Usuluddin                   1
Business Administration     1
Banking Studies             1
Marine science              1
Accounting                  1
Human Resources             1
Mathemathics                1
Fiqh Fatwa                  1
Name: Course, dtype: int64

In [152]:
# clean up Year column
student_df["Year"].value_counts()

year 1    41
Year 3    19
Year 2    16
year 2    10
year 4     8
year 3     5
Year 1     2
Name: Year, dtype: int64

In [153]:
student_df['Year'] = student_df['Year'].replace({'year 1': 'Year 1'})
student_df['Year'] = student_df['Year'].replace({'year 2': 'Year 2'})
student_df['Year'] = student_df['Year'].replace({'year 3': 'Year 3'})

In [154]:
student_df["Year"].value_counts()

Year 1    43
Year 2    26
Year 3    24
year 4     8
Name: Year, dtype: int64

In [155]:
# clean up GPA column
student_df["GPA"].value_counts()

3.50 - 4.00     47
3.00 - 3.49     43
2.50 - 2.99      4
0 - 1.99         4
2.00 - 2.49      2
3.50 - 4.00      1
Name: GPA, dtype: int64

In [156]:
student_df['GPA'] = student_df['GPA'].replace({'3.50 - 4.00 ': '3.50 - 4.00'})

In [157]:
student_df["GPA"].value_counts()

3.50 - 4.00    48
3.00 - 3.49    43
2.50 - 2.99     4
0 - 1.99        4
2.00 - 2.49     2
Name: GPA, dtype: int64